<!DOCTYPE html>
<html>
<head>
	<title> Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<% include partials/header.ejs %>
</head>
<body>
	<% include partials/navbar.ejs %>
	<!-- The Split Screen -->
	<!-- <section class="jumbotron" style="width:100%"> -->
		<div id="splitted" class="row">
			<figure class="split col-md-6 h-100 no-padding">
			  <div class="centered" style="color:#3b3b3d; background-color:#2f8e5e">
			    <h3>I am a</h3>
			    <h2>Civilian</h2>
					<Button>Login</Button>
			  </div>
			</figure>

			<figure class="split col-md-6 h-100 no-padding">
			  <div class="centered" style="color:#2f8e5e;background-color:#3b3b3d">
			    <h3>I am a</h3>
			    <h2>Veteran or First Responder</h2>
					<Button>Login</Button>
			  </div>
			</figure>
		</div>
	<!-- </section> -->

	<!-- About Section -->
	<section class="jumbotron" style="background-color: #3b3b3d">
		<div class="container" style="text-align:center">
			<h1>What is this?</h1>
			<h3>Come reach out to our vetrans or first-responders who are on SpaceBar!</h3>
		</div>
	</section>
	<section style="background-color:#2f8e5e">
		<div class="container" style="text-align:center">
			<h1>Reach Out</h1>
			<h3>Whether you have served with our forces or want to provide a helping hand,</h3>
		</div>
	</section>
	<section style="background-color:#2f8e5e">
		<div class="container" style="text-align:center">
			<h1>Share</h1>
			<h3>Respond and interact through the integrated chat system!</h3>
		</div>
	</section>
	<section id="testing" class="jumbotron">
		<div class="container" style="text-align:center">
			<h1>Connect</h1>
			<h3>Grab a coffee with your local responders!</h3>
		</div>
	</section>

	<footer class="row">
		<div class="container">
			<div class="col-md-4">
				<h3>How are you doing today?</h3>
				<ul>
					<li></li>
				</ul>
			</div>
			<div class="col-md-8">
				<h3></h3>
			</div>
		</div>
	</footer>

</body>
</html>
