<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<% include partials/header.ejs %>
</head>
<body>
	<% include partials/navbar.ejs %>
	<div class="container mt-3">
		<h1 class="text-center">Login</h1>
		<form class="mb-3" action="/login/new" method="post">
			<div class="form-group row">
				<label for="username" class="col-2 col-form-label">Username</label>
				<div class="col-10">
					<input class="form-control" type="text" value="" placeholder="jvdet1950">
				</div>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-primary">Login</button>
				<a href="/" class="btn btn-danger">Back</a>
			</div>
		</form>
	</div>
	<% include partials/footer.ejs %>
</body>
</html>
