<!DOCTYPE html>
<html>
<head>
	<title>Map of the world!</title>
</head>
<body>
	<p> <%= profiles%>
		<img src="https://image.maps.api.here.com/mia/1.6/mapview?app_id=9fXg3632EGa2fROWQhKb&app_code=b2pw_rBboyH1RuQaiG90VA&c=49.26438,-122.8918 ">
</body>
</html>