<!DOCTYPE html>
<html>
<head>
	<title>Map of the world!</title>
	<% include partials/header.ejs %>
</head>
<body>
	<% include partials/navbar.ejs %>
	<div id="map" />
	<%console.log(currentProfile); %>
	
	<script>
		

        newprofiles= <%-JSON.stringify(profiles)%>;

    
		function addMarkersToMap(map) {
			// !!!!!!! pls forEach database here pls ty lel
			newprofiles.forEach(function(profile){ 
				console.log(profile);
			var parisMarker = new H.map.Marker({lat:profile.latitude, lng:profile.longitude});
		  	map.addObject(parisMarker);

				 }); 
		//	console.log(profiles);

		}

				//Step 1: initialize communication with the platform
		var platform = new H.service.Platform({
		  app_id: 'qqWJBfD6SnH0j2u3BFja',
		  app_code: 'EkXcJ4AE48uDVni6glNAFg',
			useCIT:true,
		  useHTTPS: true
		});
		var defaultLayers = platform.createDefaultLayers();
		currentUser= <%-JSON.stringify(currentProfile)%>;
		//Step 2: initialize a map - this map is centered over Europe
		var map = new H.Map(document.getElementById('map'),
		  defaultLayers.normal.map,{

		  center: {lat:currentUser.latitude, lng:currentUser.longitude}, // !!! ADD DATABASE CODE THAT TAKES USER'S LOCATION
		  zoom: 10,
		});

		//Step 3: make the map interactive
		// MapEvents enables the event system
		// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
		var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

		// Create the default UI components
		var ui = H.ui.UI.createDefault(map, defaultLayers);

		// Now use the map as required...
		addMarkersToMap(map);
	</script>

	<section class="bg-green">
		<div class="container text-center pt-3 pb-3">
			<h1>Engage with your neighbours around the world!</h1>
			<h3>Each marker is a friend that you have not met yet!</h3>
		</div>
	</section>

	<% include partials/footer.ejs %>
</body>
</html>
