<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<% include partials/header.ejs %>
</head>
<body>
	<% include partials/navbar.ejs %>
	<div class="container mt-3">
		<h1 class="text-center">Sign Up</h1>
		<div class="col-12 row mt-3">
			<p><span class="text-danger">*</span>&nbsp; Indicates required fields</p>
		</div>
		<form class="mb-3" action="/signup/new" method="post">
			<div class="form-group row">
				<label for="username" class="col-2 col-form-label">Username <span class="text-danger">*</span></label>
				<div class="col-10">
					<input class="form-control" type="text" value="" placeholder="jvdet1950">
				</div>
			</div>
			<div class="form-group row">
				<label for="full-name" class="col-2 col-form-label">Full Name <span class="text-danger">*</span></label>
				<div class="col-10">
					<input class="form-control" type="text" value="" placeholder="John Doe">
				</div>
			</div>
			<div class="form-group row">
				<label for="email-input" class="col-2 col-form-label">Email <span class="text-danger">*</span></label>
				<div class="col-10">
					<input class="form-control" type="email" value="" placeholder="johndoe@example.com" id="email-input">
				</div>
			</div>
			<div class="form-group row">
				<label for="address" class="col-2 col-form-label">Address <span class="text-danger">*</span></label>
				<div class="col-10">
					<input class="form-control" type="text" value="" placeholder="Granville Street">
				</div>
			</div>

			<div class="form-group row">
				<label for="City" class="col-2 col-form-label">City <span class="text-danger">*</span></label>
				<div class="col-10">
					<input class="form-control" type="text" value="" placeholder="Vancouver">
				</div>
			</div>

			<div class="form-group row">
				<label for="Province" class="col-2 col-form-label">Province <span class="text-danger">*</span></label>
				<div class="col-10">
					<input class="form-control" type="text" value="" placeholder="British Columbia">
				</div>
			</div>

			<div class="form-group row">
				<label for="status-input" class="col-2 col-form-label">I am a <span class="text-danger">*</span></label>
				<div class="col-10">
				<select class="form-control">
					<option>Veteran</option>
					<option>Paramedic</option>
					<option>Police Officer</option>
					<option>Firefighter</option>
					<option>Civilian</option>
				</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="number-input" class="col-2 col-form-label">Identification No.</label>
				<div class="col-10">
					<input class="form-control" type="number" value="" placeholder="132414">
				</div>
			</div>

			<div class="form-group">
				<label for="text-area">Additional Information</label>
				<textarea class="form-control rounded-0" rows="3" placeholder="Service history, past experiences"></textarea>
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-primary">Register</button>
				<button type="reset" class="btn btn-danger">Reset</button>
			</div>
		</form>
	</div>
	<% include partials/footer.ejs %>
</body>
</html>
