.centered {
  text-align: center; }

.jumbotron {
  margin: 0px;
  border-radius: 0px; }

.no-padding {
  padding: 0px; }

#splitted {
  height: 100%; }

.split {
  margin: 0px; }

footer {
  background-color: black; }
